<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @artist.string %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @artist.bio %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
