<script type="text/javascript">
    function showlink() {
      
    $('#thisLink').show();
   
    }
</script>
<p id="notice"><%= notice %></p>
<div id="artistInfo" style ="
<%= "border: 3px solid blue;" if current_user.following?(@artist) %>
">
<p>

  <%= @artist.name %>
<% if user_signed_in? %>
  <div id="follow_artist">
    <%= render :partial => "shared/follow_user", :locals => {:artist => @artist} %>
  </div>
<% end %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @artist.bio %>
</p>
</div>
<div id="musics_wrapper">
  <%= render @artist.musics  %>

<h1>Add new music for this artist</h1>
<p>
<%= form_for ([@artist,@artist.musics.build]) do |f| %>
 <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  

  <p>
 <%= f.radio_button :link_type, 'youtube' %> 
  <%= f.label :link_type, image_tag("youtube.png"), :value => 'youtube', onclick: 'showlink();' %>
 <%= f.radio_button :link_type, 'spotify' %> 
  <%= f.label :link_type, image_tag("spotify.png"), :value => 'spotify', onclick: 'showlink();' %>
 <%= f.radio_button :link_type, 'itunes' %> 
  <%= f.label :link_type, image_tag("itunes.png"), :value => 'itunes', onclick: 'showlink();' %>
  <div id="thisLink" style="display:none">
    <%= f.label :link %><br>
    <%= f.text_area :link %>
  </div>
  </p>


 <%# f.hidden_field :artist_id, @artist.id %>
<%= f.button :submit, class: 'btn' %>
<% end %>
</p>


<p><%=pluralize(@artist.get_likes.size, "favorite")%></p>
<% if user_signed_in?  %>
  <%if current_user.voted_for?(@artist) %>
    <p>You favorited this artist</p>
  <% else %>
    <%= link_to 'Favorite',like_artist_path(@artist),method: :post, class: "glyphicon glyphicon-star" %>
  <% end %>
<% else %>
<%= link_to "Sign in to favorite this song", new_user_session_path %>
<% end %>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
