<div id="sidebar">
<div id="topSongsBox"  >
  <h1>Top Songs</h1>
    <ol>
    <% @top_songs.each do |m| %>
      <li><%= m.name %></li>
    <% end %>
    </ol> 
</div>

<div id="newBox">
  <h2>News</h2>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<div id="publicAct">
  <h2>Public Activity</h2>
    <p>Derek followed Lil Wayne</p>
    <p>John commented on Francis's critique</p>
    <p>Micheal posted a new mixtape</p>
    <p></p>
  </div>
</div>
<div id="content">
<h1>Home</h1>



<div id='hotArtistBox'style="border: 1px black dashed" >
<h2>Hot Artist - <%=  @hotArtist.name %></h2>
<%=image_tag(@hotArtist.avatar.url(:medium)) %><p><%= @hotArtist.bio %></p>
  <h3><%="Hottest Hits" %></h3>
    <ol>
    <% @hotArtist.musics.each do |m| %>
      <li><%= m.name %></li>
    <% end %>
    </ol> 
</div>
<div id="comingSoon">
  <h2>Coming soon</h2>
  <h3>Albums</h3>
  <div class='soonBox'>
    
  </div>
</div>

<div id="critiques">
 <h1>Critiques</h1>

    <% @critiques.each do |critique| %>
      <div ckass="crit">


        <div class="crit_name"> <%=link_to "#{critique.user.full_name}'s critique for [#{critique.music.name}]  ", critique %></div>
        <div class="crit_desc"><%= truncate(critique.description,length: 140) %></div>
       
       
      </div>
    <% end %>
</div>

<br>

<%= link_to 'New Critique', new_critique_path %>
</div>
</div>

<div class="clearFix"></div>
