<h1>Home</h1>

<div id="topSongsBox">
  <h1>Top Songs</h1>
    <ol>
    <% @top_songs.each do |m| %>
      <li><%= m.name %></li>
    <% end %>
    </ol> 
</div>

<div id='hotArtistBox' style="border: 1px black dashed">
<h2><%= @hotArtist.name %></h2>
<p><%= @hotArtist.bio %></p>
  <h3><%="Hottest hits" %></h3>
    <ol>
    <% @hotArtist.musics.each do |m| %>
      <li><%= m.name %></li>
    <% end %>
    </ol> 
</div>


<div id="critiques">
 <h1>Critiques</h1>

    <% @critiques.each do |critique| %>
      <div ckass="crit">


        <div class="crit_name"> <%=link_to "#{critique.user.full_name}'s critique for [#{critique.music.name}]  ", critique %></div>
        <div class="crit_desc"><%= truncate(critique.description,length: 140) %></div>
       
       
      </div>
    <% end %>
</div>

<br>

<%= link_to 'New Critique', new_critique_path %>
