<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= @critique.music.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @critique.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @critique.user_id %>
</p>
<p><%=pluralize(@critique.votes_for.size, "favorite")%></p>
<% if user_signed_in?  %>
	<%if current_user.voted_on?(@critique) %>
		<p>You favorited this critique</p>
	<% else %>
		<%= link_to 'Favorite',like_critique_path(@critique),method: :post, class: "glyphicon glyphicon-star" %>
	<% end %>
<% else %>
<%= link_to "Sign in to fav this song", new_user_session_path %>
<% end %>

<%= link_to 'Edit', edit_critique_path(@critique) %> |
<%= link_to 'Back', critiques_path %>
