<p><%= music.name%></p>
<p><%=link_to (image_tag(music.video_img)), music.link%></p>
<%= music.video_img %>
<p><%= music.duration %></p>
<p><%=pluralize(music.votes_for.size, "favorites")%></p>
<% if user_signed_in?  %>
	<%if current_user.voted_on?(music) %>
		<p>You favorited this artist</p>
		
	<% else %>
		<%= link_to 'Favorite',like_artist_music_path(@artist,music),method: :post, class: "glyphicon glyphicon-star" %>
	<% end %>
<% else %>
<%= link_to "Sign in to like this song", new_user_session_path %>
<% end %>

<%= link_to "Delete", artist_music_path(@artist, music.id),method: :delete,data: {confirm: "Are you sure?" } %>