<!DOCTYPE html>
<html>
<head>
  <title>2 Dope critique</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="nav navbar navbar-custom">
		<div class="navbar-brand">
			<%= link_to "2 Dope Critiques",root_path, style: "color:white;font-weight:bold;text-decoration:none" %>
		</div>
		<ul class ="nav navbar-nav  nav-pills navbar-left">
			<li><%=link_to "Import Music from Spotify", "#"%></li>
			<li><%link_to "Artists", artists_path%></li>

			<li><%=link_to "Mixtapes", mixtapes_path%></li>

			<% if user_signed_in? %>
			
           <li><%=link_to "Add a Mixtape", new_mixtape_path%></li>
           <% end %>
		</ul>
		<ul class ="nav navbar-nav  nav-pills navbar-right">
	<% if user_signed_in? %>
		
			<li><%=link_to "New Critique", new_critique_path%></li>

			<li><%=image_tag current_user.avatar.url(:thumb), class: "inline", style: "width:50px;height:50px;"%><%=link_to "#{current_user.full_name}'s Profile", profile_path(current_user), class: "inline navimg"%></li>
			<li><%=link_to "Account", edit_user_registration_path%></li>
			<li><%=link_to "Log Out", destroy_user_session_path, method: :delete%></li>

		
	<% else %>
		<li><%=link_to "Log In", new_user_session_path%></li>
		<li><%=link_to "Register", new_user_registration_path%></li>
	<% end %>
	</ul>
	</div>
<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
<section class="container">
<%= yield %>
</section>
</body>
</html>
