<!DOCTYPE html>
<html>
<head>
  <title>2 Dope critique</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag :defaults, 'data-turbolinks-track' => true %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" %>
  <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="nav navbar navbar-custom">
		<div class="navbar-brand">
			<%= link_to "Word is Bond",root_path, style: "font-family:Bevan;color:white;font-weight:bold;text-decoration:none" %>
		</div>
		<ul class ="nav navbar-nav  nav-pills navbar-left">
			<li><%=link_to "Import Music from Spotify", "pages#import_from_spotify"%></li>
			<li><%=link_to "Artists", artists_path%></li>
			<li><%=link_to "Critiques", critiques_path%></li>

			<li><%=link_to "Mixtapes", mixtapes_path%></li>

		</ul>
		<ul class ="nav navbar-nav  nav-pills navbar-right">
	<% if user_signed_in? %>
		
			<li class="dropdown"><a  class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" role="button" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> Actions</a>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" role="menu">
            <li><%=link_to "Add a Mixtape", new_mixtape_path%></li>
            <li><%=link_to "Add a Critique", new_critique_path%></li>
            
          </ul>

			</li>

			<li><%=image_tag current_user.avatar.url(:thumb), class: "inline", style: "width:50px;height:50px;"%><%=link_to "#{current_user.full_name}'s Profile", profile_path(current_user), class: "inline navimg"%></li>
			<li><%=link_to "Account", edit_user_registration_path%></li>
			<li><%=link_to "Log Out", destroy_user_session_path, method: :delete%></li>

		
	<% else %>
		<li><%=link_to "Log In", new_user_session_path%></li>
		<li><%=link_to "Register", new_user_registration_path%></li>
	<% end %>
	</ul>
	</div>
<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
<section class="container">
<%= yield %>
</section>
</body>
</html>
